# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore virtual environments
venv/
backend/venv/

# Ignore compiled files
__pycache__/
*.pyc

# VS Code and OS files (optional)
.vscode/
.DS_Store
Thumbs.db